.Elioputo_text{
  padding-top: 10rem;
  font-size: 2rem;
}




.Elioputo_transparent{

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.Elioputo_transparent img{
  height: 70vh;
}












.Elioputo_brands{
  padding: 2rem;
  padding-top: 50vh;
  /* position: relative */
}

.Elioputo_brands .brands_container{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.Elioputo_brands .scroller{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
  padding-bottom: 1rem;

}

.Elioputo_brands .brand_item_wrapper{
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #fff;
}


.Elioputo_brands .brand_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.Elioputo_brands .brand_item_wrapper:hover .brand_overlay{
  opacity: 1;
}


.Elioputo_brands .brand_item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  transition: transform 0.3s;
}

.Elioputo_brands .brand_item img{
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.Elioputo_brands .no-bg .brand_item img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
}



.Elioputo_brands h1{
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.Elioputo_brands .brand_overlay .brand_socials{
  display: flex;
  gap: 0.5rem;
}

.Elioputo_brands .brand_overlay .brand_socials img{
  color:white;
  width: 24px;
  height: 24px;
} 